body{
    background-color: lavender;

}
.letter-input{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-color: darkorchid;
}

#inputs{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#send-btn-div{
    text-align: center;
    margin-top: 10px;
    
}
#send-btn{
    transition-duration: 0.4s;
    width: 200px;
    border-color: plum;
    border-radius: 8px;
    background-color: darkorchid;
    color: white;
}
#send-btn:hover{
    background-color:orchid;
    color: white;
}
#results{
    text-align: center;
}
.badge{
    margin-left: 15px;
    margin-right: 15px;
}
#percentage{
    text-align: center;
}
#refword{
    text-align: center;
    border-radius: 25px;
    background-color: plum;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    
}
#tipp{
    text-align: center;
    border-radius: 25px;
    background-color:plum;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    

}
#h1_div{
    margin: 15px;
    border-radius: 35px;
    border-color: blueviolet;
    border-width: 20px;
    background-color: plum;
}