body{
    background-color: lavender;

}
.letter-input{
    margin: 8px;
    width: 40px;
    height: 40px;
}

#inputs{
    text-align: center;
}

h1{
    text-align: center;
}
#send-btn{
    text-align: center;
    margin-top: 10px;
}
#results{
    text-align: center;
}
.result{
    margin-left: 8px;   
    margin-right: 8px;
}